# Ignore the executable file 
src/parallelQuicksort

# Ignore all object files
*.o

# Ignore scripts that are tangled from laboratory notebook
run_xp.sh
get_info.sh
git_revert.sh
git_merge.sh

# Ignore all the data inside data/testing folder
data/testing/*
